#number1{
    text-transform: uppercase !important;
}
#number2{
    text-transform: uppercase !important;
}
#number3{
    text-transform: uppercase !important;
}
#number4{
    text-transform: uppercase !important;
}
#number5{
    text-transform: uppercase !important;
}